*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
}
body{
  background: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}
.navbar{
  background: rgb(30, 30, 30);
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;

}
.logo{
  
  height: 4rem;
  width: 5rem;
}
.desktopMenuList{
  margin: 1rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.desktopMenuList:hover{
  color: rgb(171, 117, 9);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid  rgb(171, 117, 9);
  

}
.desktopMenuBtn{
  background-color: white;
  align-items: center;
  justify-content: center;
  text-size-adjust: smaller;
}
.intro{
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.intropara2{
  font-size: 80px;
  font-weight: bold;
}
.intropara1{
  font-size: 30px;
  font-weight: bold;
}
.intropara3{
  font-size: 20px;
  font-weight: bold;
}
.bgclr{
  color: rgb(231, 221, 19);
}
   
  
@media screen and (max-width: 750px){
  
    .detail{
      display: contents;
      align-items:baseline;
    }
    .utk{
      right: -70vw;
    }
    .intropara2{
      font-size: 50px;
      font-weight: bold;
    }
    .intropara1{
      font-size: 20px;
      font-weight: bold;
    }
    .intropara3{
      font-size: 15px;
      font-weight: bold;
}
}
.utk{
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  height: 100vh;
}
.detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem;
  
  
}
.skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 65rem;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
.skillTitle{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.skillDesc{

  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.skillList{
  margin: 5px;
  width: 100vw;
  max-width: 80%;
  text-align: left;

}
.skillbar{
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
}
.skillImg{
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  margin-right: 1rem;
}
.skillText>p {
  font-size: 15px;
  font-weight: 200;
  
}
@media screen and (max-width: 650px){
  .skillDesc{
    font-size: 0.8rem;
  }
  .skillTitle{
    font-size: 20px;
  }
  .skillText>p {
    font-size: 10px;
  }
  .skillText>h5 {
    font-size: 15px;
  }
}
 .work{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
 min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 65rem;
  margin: 0 auto;
  overflow: hidden;
 }
 .workTitle{
  font-size: 2rem;
  margin: 1rem 0;
 }
 .workDesc{
  font-weight: 300;
  font-size: 1rem;
 }
 .workImgs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vm;
  max-width: 65rem;

 }

 .workImg{
  height: 20rem;
  object-fit: cover;
  margin: 1rem;
  border-radius: 0.5rem;
 
 }