*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
}
body{
  background: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}
.navbar{
  background: rgb(30, 30, 30);
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;

}
.logo{
  
  height: 4rem;
  width: 5rem;
}
.desktopMenuList{
  margin: 1rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.desktopMenuList:hover{
  color: rgb(171, 117, 9);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid  rgb(171, 117, 9);
  

}
.desktopMenuBtn{
  background-color: white;
  align-items: center;
  justify-content: center;
  text-size-adjust: smaller;
}
.intro{
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.intropara2{
  font-size: 80px;
  font-weight: bold;
}
.intropara1{
  font-size: 30px;
  font-weight: bold;
}
.intropara3{
  font-size: 20px;
  font-weight: bold;
}
.bgclr{
  color: rgb(231, 221, 19);
}
   
  
@media screen and (max-width: 750px){
  
    .detail{
      display: contents;
      align-items:baseline;
    }
    .utk{
      right: -70vw;
    }
    .intropara2{
      font-size: 50px;
      font-weight: bold;
    }
    .intropara1{
      font-size: 20px;
      font-weight: bold;
    }
    .intropara3{
      font-size: 15px;
      font-weight: bold;
}
}
.utk{
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  height: 100vh;
}
.detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem;
  
  
}
.skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 65rem;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
.skillTitle{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 2rem;
}
.skillDesc{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2rem;
}